body {
  margin: 0;
  padding: 0;
  background-color: rgb(228, 239, 239);
}

.heading {
  text-align: center;
  /* background-color: #038fc7; */
  background-color: #6cccf3;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 100px;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container1 {
  font-family: "DM Sans", sans-serif;
}

/* .btn1{
    margin-top: 10px;
} */

.switch {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 70px;
  margin-top: 10px;
  margin-left: 20px;
  vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 60px;
  width: 60px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  /* -webkit-transform: translateX(70px); */
  -ms-transform: translateX(70px);
  transform: translateX(70px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.label-text {
  display: block;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.001s;
  line-height: 1;
  margin: 0 auto;
}

input:checked + .slider + .label-text {
  opacity: 0;
  pointer-events: none;
}

input:checked + .slider + .label-text::before {
  content: "ON";
  color: white;
}

.container1 {
  display: flex;
  justify-content: space-between;
}

.leftSide1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  row-gap: 100px;
  flex-wrap: wrap;
  margin-left: 200px;
  margin-top: 30px;
}

label#myCheckbox.switch {
  margin-bottom: 10px;
}

.usageHours {
  justify-content: end;
  vertical-align: bottom;
}

.usageHours label span {
  margin-right: 5px; /* Add spacing between "Usage" and "Hours" */
}

.rightSide1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 80px;
  margin-top: 30px;
  margin-right: 150px;
  width: max-content;
}

input#usage {
  display: flex;
  justify-content: space-between;
}
.usageHours {
  display: flex; /* Use a flex container to arrange label and div side by side */
  align-items: center; /* Vertically center align label and div */
}

.rightSide1 label {
  margin-right: 10px; /* Add some spacing between label and div */
  font-size: xx-large;
}

.usageHours > div {
  border-radius: 20px;
}

#power,
#voltage,
#current,
#power_factor {
  width: 280px;
}

#bulbImage {
  height: 90px;
}

@media (max-width: 480px) {
  body {
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .leftSide1 {
    height: 220px;
  }

  .rightSide1 {
    row-gap: 60px;
  }

  .leftSide1,
  .rightSide1 {
    margin:auto;
    text-align: center;
  }

  .label-text,
  .usageHours,
  .label-text::before {
    font-size: 20px;
  }

  #dabbe {
    font-size: 19px;
  }

  .heading {
    font-size: 40px;
    padding: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
  }

  #power,
  #voltage,
  #current,
  #power_factor {
    width: 180px;
  }
}
