body {
  margin: 0;
  padding: 0;
  background-color: rgb(228, 239, 239);
}

.heading {
  text-align: center;
  /* background-color: #038fc7; */
  background-color: #6cccf3;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 100px;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
}


#gyan_bato {
  margin-left: 550px;
  margin-bottom: 20px;
  background-color: #f1863a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#analysis {
  text-align: left;
  justify-content: center;
  width: 100%;
  margin-left: 400px;
}

/* .container1 {
  font-family: "DM Sans", sans-serif;
} */

/* .btn1{
    margin-top: 10px;
} */
/* 
.switch {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 70px;
  margin-top: 10px;
  margin-left: 20px;
  vertical-align: middle;
} */

/* Hide default HTML checkbox */
/* .switch input {
  opacity: 0;
  width: 0;
  height: 0;
} */

/* The slider */
/* .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 60px;
  width: 60px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
} */

/* input:checked + .slider:before {
  /* -webkit-transform: translateX(70px); */
/* -ms-transform: translateX(70px); */
/* transform: translateX(70px); */
/* } */

/* .slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} */

/* .label-text {
  display: block;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.001s;
  line-height: 1;
  margin: 0 auto;
} */

/* input:checked + .slider + .label-text {
  opacity: 0;
  pointer-events: none;
}

input:checked + .slider + .label-text::before {
  content: "ON";
  color: white;
} */

/* .container1 {
  display: flex;
  justify-content: space-between;
} */

/* .leftSide1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  row-gap: 100px;
  flex-wrap: wrap;
  margin-left: 200px;
  margin-top: 30px;
} */

label#myCheckbox.switch {
  margin-bottom: 10px;
}

.usageHours {
  justify-content: end;
  vertical-align: bottom;
}

.usageHours label span {
  margin-right: 5px; /* Add spacing between "Usage" and "Hours" */
}

.rightSide1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 80px;
  margin-top: 30px;
  margin-right: 320px;
  width: auto;
}

input#usage {
  display: flex;
  justify-content: space-between;
}
.usageHours {
  display: flex; /* Use a flex container to arrange label and div side by side */
  align-items: center; /* Vertically center align label and div */
}

.rightSide1 label {
  margin-left: 450px;
  font-size: xx-large;
}

.usageHours > div {
  border-radius: 20px;
}

#power,
#voltage,
#current,
#power_factor {
  width: 280px;
}

/* #bulbImage {
  height: 90px;
} */

@media (max-width: 480px) {
  body {
    text-align: center; /* Center align the content */
  }

  .heading {
    text-align: center; /* Center align the heading */
    margin-left: 0px; /* Remove margin for better centering */
    font-size: 60px;
  }

  .container1 {
    flex-direction: column;
    align-items: center;
  }

  .rightSide1 {
    margin-right: 0; /* Remove right margin for better centering */
  }

  .rightSide1 label {
    margin-left: 0; /* Remove left margin for better centering */
    text-align: center; /* Center align the label */
  }

  #gyan_bato {
    margin-left: 0px; /* Remove left margin for better centering */
  }

  #analysis {
    margin-left: 5px; /* Remove left margin for better centering */
    /* margin-right: 20px; */
  }


  #power, #voltage, #current, #power_factor {
    width: 100%; /* Make data displays take full width */
  }
}


}
